{% extends "base.html" %} 

{% block title %} Expediente en Movimiento {% endblock title %} 



{% block body %}

  <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>DNI</th>
            <th>Nombre</th>
            <th>Apellido</th>
          </tr>
        </thead>
        <tbody>
          {% for persona in personas %}
          <tr>
            <td>{{persona.dni}}</td>
            <td>{{persona.nombre}}</td>
            <td>{{persona.apellido}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

{% endblock  %}
